
@{
    ViewData["Title"] = "Speaking";
}

<div class="jumbotron jumbotron-speaking">
    <div class="container">
        <h1>@ViewData["Title"]</h1>
        <p>I speak at events of all sizes, it's part of my job.</p>
        <p>Conferences, meet-ups, user groups, events.</p>
    </div>      <div class="col-md-12">
        <h2>I'll come to your event</h2>
        <p>I speak at events such as conferences, meet-ups, user groups, Industry forums etc.</p>
        <p>If you want me to come to your event, please <a href="mailto:andrew.fryer@microsoft.com?Subject=Enquiry%20from%20DeepFat.me">email me</a> or <a href="https://twitter.com/deepfat">tweet me</a> and we can sort the details.</p>
    </div>
</div>
    </di
</div>

<div class="container-fluid green-background">
    <div class="container">
        <div class="row">
      v>
</div>

<div class="container-fluid lightblue-background">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>My Talks</h2>
                <p>I’m happy to speak at pretty much any data orientated event. Here are a few topics that I’m talking about at the moment and can delivery with hardly any notice, but if you have a specific topic feel free to ask me.</p>
                <ul>
                    @foreach (var talk in Model.Talks)
                    {
                        <li><a href="/speaking/@talk.Url.ToLower()" title="@talk.Description" >@talk.Title</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid blue-background">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>My Bio</h2>
                <p>Here is my bio in various formats:</p>
                <ul>
                    <li><strong>Third Person</strong>: Andrew joined Microsoft in 2007 as an Evangelist, focusing on business intelligence and data development. Andrew’s role puts him in contact with all sizes of organisation from start-ups to UK Big business and government where he has a track record of making the complex simple and the future relevant now.  His particular passion is the appropriate application of data to solve real world problems and to do that as ethically as possible such that the technology itself becomes invisible. Andrew is now on his third career following work a decade in criminal intelligence for the UK Government and a wide ranging consulting career developing BI strategies for major retailers, insurers and banks. Andrew regularly blogs and speaks at a range of conferences, workshops and meet-ups.</li>
                    <li><strong>First Person</strong>: I have been working in Business Intelligence and analytics for the over twenty years. Most of this has been on the Microsoft platform especially the SQL Server ecosystem.  However for the last couple of years my focus has been big data and analytics on the Azure platform, including Machine Learning, and the various tools for managing and analysing big data.  I regularly present to community groups on the latest Microsoft cognitive technologies. I also host TechDays Online which regularly gets over ten thousand viewers watching the live stream.</li>
                    <li><strong>Short</strong>: Andrew works for Microsoft as an Evangelist. He's into Data and Analytics in the Cloud.</li>
                </ul>

                <p>A few profile pics of me to use in marketing your event</p>
                <div class="row">
                    <div class="col-md-3">
                        <a href="~/images/DeepFatProfile1.jpg" download><img src="~/images/DeepFatProfile1.jpg" class="img-responsive profile-photo" alt="Andrew Fryer profile picture 1"></a>
                    </div>
                    <div class="col-md-3">
                        <a href="~/images/DeepFatProfile2.jpg" download><img src="~/images/DeepFatProfile2.jpg" class="img-responsive profile-photo" alt="Andrew Fryer profile picture 2"></a>
                    </div>
                    <div class="col-md-3">
                        <a href="~/images/DeepFatProfile3.png" download><img src="~/images/DeepFatProfile3.png" class="img-responsive profile-photo" alt="Andrew Fryer profile picture 3"></a>
                    </div>
                    <div class="col-md-3">
                        <a href="~/images/DeepFatProfile4.jpg" download><img src="~/images/DeepFatProfile4.jpg" class="img-responsive profile-photo" alt="Andrew Fryer profile picture 4"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
